@model ResetPasswordViewModel
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <h2>Password Reset Page</h2>
    <form method="post">
        <label>Enter Your Password</label>
        <input type="text" asp-for="Password" class="form-control" />
        <br />
        <label>Confirm Your Password</label>
        <input type="text" asp-for="ConfirmPassword" class="form-control" />
        <br />
        <button class="btn btn-success">Update Password</button>
    </form>
</div>
