@model List<MessageWithReceiverInfoViewModel>

@{
    ViewData["Title"] = "Sendbox";
    Layout = "~/Views/UserLayout/Index.cshtml";
}

<div class="inbox-area">
    <div class="container">
        <div class="row">

            @await Component.InvokeAsync("_MessageSidebarComponentPartial")

            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="inbox-text-list sm-res-mg-t-30">
                    <div class="form-group">
                        <div class="nk-int-st search-input search-overt">
                            <input type="text" class="form-control" placeholder="Enter keywords to search..." />
                            <button class="btn search-ib">Search</button>
                        </div>
                    </div>
                    <div class="inbox-btn-st-ls btn-toolbar">
                        <div class="btn-group ib-btn-gp active-hook nk-email-inbox">
                            <button class="btn btn-default btn-sm"><i class="notika-icon notika-refresh"></i> Refresh</button>
                            <button class="btn btn-default btn-sm"><i class="notika-icon notika-next"></i></button>
                            <button class="btn btn-default btn-sm"><i class="notika-icon notika-down-arrow"></i></button>
                            <button class="btn btn-default btn-sm"><i class="notika-icon notika-trash"></i></button>
                            <button class="btn btn-default btn-sm"><i class="notika-icon notika-checked"></i></button>
                            <button class="btn btn-default btn-sm"><i class="notika-icon notika-promos"></i></button>
                        </div>
                        <div class="btn-group ib-btn-gp active-hook nk-act nk-email-inbox">
                            <button class="btn btn-default btn-sm"><i class="notika-icon notika-left-arrow"></i></button>
                            <button class="btn btn-default btn-sm"><i class="notika-icon notika-right-arrow"></i></button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-inbox">

                            <tr>
                                <th>#</th>
                                <th>Receiver</th>
                                <th>Subject</th>
                                <th>Category</th>
                                <th>Sent Date</th>
                            </tr>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class=""><label><input type="checkbox" class="i-checks"></label></td>
                                        <th><a href="#">@item.ReceiverName @item.ReceiverSurname </a> </th>
                                        <td><a href="#">@item.Subject </a> </td>
                                        @{
                                            if (item.CategoryName == "Education")
                                            {
                                                <td><span class="label label-warning">Education</span> </td>
                                            }
                                            if (item.CategoryName == "Finance")
                                            {
                                                <td><span class="label label-danger">Finance</span> </td>
                                            }
                                            if (item.CategoryName == "Promotions")
                                            {
                                                <td><span class="label label-info">Promotions</span> </td>
                                            }
                                            if (item.CategoryName == "Social")
                                            {
                                                <td><span class="label label-success">Social</span> </td>
                                            }
                                            if (item.CategoryName == "Finance")
                                            {
                                                <td><span class="label label-primary">Finance</span> </td>
                                            }
                                        }
                                        <td class="text-right mail-date">@item.SendDate.ToString("dd MMMM yyyy")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
