<div class="footer-copyright-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="footer-copy-right">
                    <p>
                        Copyright © @DateTime.Now.Year.
                        All rights reserved. Developed by <a href="#">Emre Durak</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Footer area -->
<!-- jQuery JS -->
<script src="/notika-master/notika/green-horizotal/js/vendor/jquery-1.12.4.min.js"></script>
<!-- Bootstrap JS -->
<script src="/notika-master/notika/green-horizotal/js/bootstrap.min.js"></script>
<!-- WOW JS -->
<script src="/notika-master/notika/green-horizotal/js/wow.min.js"></script>
<!-- Price Slider JS -->
<script src="/notika-master/notika/green-horizotal/js/jquery-price-slider.js"></script>
<!-- Owl Carousel JS -->
<script src="/notika-master/notika/green-horizotal/js/owl.carousel.min.js"></script>
<!-- ScrollUp JS -->
<script src="/notika-master/notika/green-horizotal/js/jquery.scrollUp.min.js"></script>
<!-- MeanMenu JS -->
<script src="/notika-master/notika/green-horizotal/js/meanmenu/jquery.meanmenu.js"></script>
<!-- CounterUp JS -->
<script src="/notika-master/notika/green-horizotal/js/counterup/jquery.counterup.min.js"></script>
<script src="/notika-master/notika/green-horizotal/js/counterup/waypoints.min.js"></script>
<script src="/notika-master/notika/green-horizotal/js/counterup/counterup-active.js"></script>
<!-- mCustomScrollbar JS -->
<script src="/notika-master/notika/green-horizotal/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- Sparkline JS -->
<script src="/notika-master/notika/green-horizotal/js/sparkline/jquery.sparkline.min.js"></script>
<script src="/notika-master/notika/green-horizotal/js/sparkline/sparkline-active.js"></script>
<!-- Flot JS -->
<script src="/notika-master/notika/green-horizotal/js/flot/jquery.flot.js"></script>
<script src="/notika-master/notika/green-horizotal/js/flot/jquery.flot.resize.js"></script>
<script src="/notika-master/notika/green-horizotal/js/flot/flot-active.js"></script>
<!-- Knob JS -->
<script src="/notika-master/notika/green-horizotal/js/knob/jquery.knob.js"></script>
<script src="/notika-master/notika/green-horizotal/js/knob/jquery.appear.js"></script>
<script src="/notika-master/notika/green-horizotal/js/knob/knob-active.js"></script>
<!-- Wave JS -->
<script src="/notika-master/notika/green-horizotal/js/wave/waves.min.js"></script>
<script src="/notika-master/notika/green-horizotal/js/wave/wave-active.js"></script>
<!-- iCheck JS -->
<script src="/notika-master/notika/green-horizotal/js/icheck/icheck.min.js"></script>
<script src="/notika-master/notika/green-horizotal/js/icheck/icheck-active.js"></script>
<!-- Chat JS -->
<script src="/notika-master/notika/green-horizotal/js/chat/jquery.chat.js"></script>
<!-- Todo JS -->
<script src="/notika-master/notika/green-horizotal/js/todo/jquery.todo.js"></script>
<!-- Plugins JS -->
<script src="/notika-master/notika/green-horizotal/js/plugins.js"></script>
<!-- Main JS -->
<script src="/notika-master/notika/green-horizotal/js/main.js"></script>
<!-- Tawk Chat JS -->
<script src="/notika-master/notika/green-horizotal/js/tawk-chat.js"></script>
<!-- Summernote JS -->
<script src="/notika-master/notika/green-horizotal/js/summernote/summernote-updated.min.js"></script>
<script src="/notika-master/notika/green-horizotal/js/summernote/summernote-active.js"></script>
