<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
    <div class="inbox-left-sd">
        <!-- Compose Button -->
        <div class="compose-ml">
            <a class="btn" href="/Message/ComposeMessage/">Create New Message</a>
        </div>

        <!-- Inbox Menu -->
        <div class="inbox-status">
            <ul class="inbox-st-nav inbox-ft">
                <li>
                    <a href="/Message/Inbox/">
                        <i class="notika-icon notika-mail"></i> Inbox
                        <span class="pull-right">@ViewBag.receiveMessageCount</span>
                    </a>
                </li>
                <li>
                    <a href="/Message/Sendbox/">
                        <i class="notika-icon notika-sent"></i> Sent Items
                        <span class="pull-right">@ViewBag.sendMessageCount</span>
                    </a>
                </li>
                <li>
                    <a href="/Message/Draft/">
                        <i class="notika-icon notika-draft"></i> Drafts
                        <span class="pull-right">0</span>
                    </a>
                </li>
                <li>
                    <a href="/Message/Trash/">
                        <i class="notika-icon notika-trash"></i> Trash
                        <span class="pull-right">0</span>
                    </a>
                </li>
            </ul>
        </div>

        <hr>
        @await Component.InvokeAsync("_MessageCategoryListSideBarComponentPartial")
        <hr>

        <!-- Additional Menu -->
        <div class="inbox-status">
            <ul class="inbox-st-nav inbox-nav-mg">
                <li><a href="#"><i class="notika-icon notika-success"></i> Forum</a></li>
                <li><a href="#"><i class="notika-icon notika-chat"></i> Chat</a></li>
                <li><a href="#"><i class="notika-icon notika-star"></i> Workflow</a></li>
                <li><a href="#"><i class="notika-icon notika-settings"></i> Settings</a></li>
                <li><a href="#"><i class="notika-icon notika-support"></i> Support</a></li>
            </ul>
        </div>
    </div>
</div>
