<div class="main-menu-area mg-tb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                    <li>
                        <a data-toggle="tab" href="#Home"><i class="notika-icon notika-house"></i> Home</a>
                    </li>
                    <li class="active">
                        <a data-toggle="tab" href="#mailbox"><i class="notika-icon notika-mail"></i> Email</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#Interface"><i class="notika-icon notika-edit"></i> Profile</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#Users"><i class="notika-icon notika-windows"></i> Users</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#Roles"><i class="notika-icon notika-windows"></i> Roles</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#Settings"><i class="notika-icon notika-bar-chart"></i> Settings</a>
                    </li>
                </ul>

                <div class="tab-content custom-menu-content">
                    <!-- Home Tab -->
                    <div id="Home" class="tab-pane in notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="index.html">Dashboard</a>
                            </li>
                            <li>
                                <a href="index.html">Statistics</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Email Tab -->
                    <div id="mailbox" class="tab-pane active notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="inbox.html">Inbox</a>
                            </li>
                            <li>
                                <a href="inbox.html">Sent Items</a>
                            </li>
                            <li>
                                <a href="inbox.html">Create New Message</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Profile Tab -->
                    <div id="Interface" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="animations.html">My Profile</a>
                            </li>
                            <li>
                                <a href="animations.html">Change Password</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Users Tab -->
                    <div id="Users" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="animations.html">User List</a>
                            </li>
                            <li>
                                <a href="animations.html">New User</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Roles Tab -->
                    <div id="Roles" class="tab-pane notika-tab-menu-bg animated flipInX">
                    </div>

                    <!-- Settings Tab -->
                    <div id="Settings" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="animations.html">My Profile</a>
                            </li>
                            <li>
                                <a href="animations.html">System Settings</a>
                            </li>
                            <li>
                                <a href="animations.html">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
